
* {margin:0; padding:0;}
body {font-size: 12px;
		font-family:"맑은 고딕", sans-serif; background-color:#FBF6EC;}
img {border:0;}
li {list-style:none;}
a {text-decoration:none; color:inherit;}

#header_wrap {
	width:100%; height:100px;

}

#header_wrap #header {
	width:1200px; height:100px;
	margin:0 auto; overflow:hidden; position: relative;
}


#header .logo {
	width:200px; height:50px;
	float:left; margin-top: 33px;
}
#header .logo img {width:100%;
}

/*sns*/
#header .sns {overflow: hidden;position: absolute; right:190px; top:10px;}
#header .sns li {float:left; margin-left: 20px;}
#header .sns img {width:90%;}

#header .gnb {
	width:950px; height:50px; float:right; overflow:hidden; margin-top:50px;
}


#header .gnb li {float:left;}
#header .gnb li a {
	display:block; width:210px; height:35px;
	font-size:18px; font-weight: 800;
	text-align:center; line-height:35px;
	                    border-bottom:0px solid #fff; color:#8C6348;
}
#header .gnb li a:hover {border-bottom:0px solid #F0AE32; color:#F0AE32;}

.bg1 {
	width:100%;
	height: 1220px;
	background-size: cover;
	background-position: center;
	}

.bg1{background-image: url('img/00_01_bg.png');}

.bg3{background-image: url('img/00_03_bg.png');}

.bg4{background-image: url('img/00_04_bg.png');}

.bg5{background-image: url('img/00_05_bg.png');}

.bg6{background-image: url('img/00_06_bg.png');}


	.bg3 {
		width:100%;
		height: 1400px;
		background-size: cover;
		background-position: center;
		}

		.bg5 {
			width:100%;
			height: 1000px;
			background-size: cover;
			background-position: center;
			}

		.bg4 {
			width:100%;
			height: 680px;
			background-size: cover;
			background-position: center;
			}

			.bg5 {
				width:100%;
				height: 200px;
				background-size: cover;
				background-position: center;
				}

			.bg6 {
				width:100%;
				height: 550px;
				background-size: cover;
				background-position: center;
				}


.tit1{
	position: relative;
	display: inline-block;
	left: 35%;
	top: 32%;
	transform: translateX(-50%) translateY(-50%);
}

	.tit2 {
		position: relative;
		display: inline-block;
		left: 10%;
		top: 36%;
		transform: translateX(-50%) translateY(-50%);

	}


		section > .bottom{background-image:url('img/00_02_bg.png'); width:100%; height: 480px; }
		section > .bottom > .bot_tit{margin: auto;text-align: center;width: 1024px;padding-top: 5rem;}
		section > .bottom > .bot_wrap{margin: auto;width: 1024px;display: flex;justify-content: space-between;align-items: center;padding-top: 4.7rem;}
		.bot_bt{display: inline-block;}
		.bot_bt:hover{opacity: 0.8;}

.tit3{ 	position: relative;
	display: inline-block;
	left: 30%;
	top: -1%;
	transform: translateX(-60%) translateY(-290%);
}

	.img1{ 	position: relative;
		display: inline-block;
		left: 30%;
		top: 26%;
		transform: translateX(-60%) translateY(16%);
	}

.text1 {
		position: relative;
		display: inline-block;
		left: 35%;
		top: 14%; transform: translateX(-50%) translateY(-50%);
}

			.bt1 { 	position: relative;
				display: inline-block;
				left: 25%;
				top: 20%;
				transform: translateX(-50%) translateY(-50%);}


				.img2{ 	position: relative;
					display: inline-block;
					left: 70%;
					top: 30%;
					transform: translateX(-50%) translateY(-50%);
}

				.text2 { 	position: relative;
						display: inline-block;
						left: 12%;
						top: -50%;
				 transform: translateX(-15%) translateY(-42%);}

			 	.bt2 { 	position: relative;
							display: inline-block;
							left: 6%;
							top: -40%;
							transform: translateX(-27%) translateY(-20%);

									.img4{ 	position: relative;
										display: inline-block;
										left: 70%;
										top: 30%;
										transform: translateX(-50%) translateY(-50%);
					}

					.img3{ 	position: relative;
						display: inline-block;
						left: 35%;
						top: 30%;
						transform: translateX(-50%) translateY(-50%);
	}


									.text3 { 	position: relative;
											display: inline-block;
											left: 12%;
											top: -50%;
									 transform: translateX(-15%) translateY(-42%);}

									 .bt3 { 	position: relative;
						 				display: inline-block;
						 				left: 25%;
						 				top: 20%;
						 				transform: translateX(-50%) translateY(-50%);}


						.tit4 {	position: relative;
							display: inline-block;
							left: 50%;
							top: 60%;
							transform: translateX(-50%) translateY(-50%); }

							footer{width: 100%;
								height: 80px;
								margin: auto;
								background-color:#8C6348;
							    display: flex;
								justify-content:center;
								align-items: center;  }

							.logo2 img {width:0%;}


							a{color: #FBF6EC;}
